appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-generator==1.10
attrs==21.4.0
backcall==0.2.0
bcolz==1.2.1
bleach==4.1.0
Bottleneck==1.3.1
brotlipy==0.7.0
certifi==2021.5.30
click==8.0.3
contextvars==2.4
cycler==0.11.0
cytoolz==0.11.0
dask==2.10.1
dataclasses==0.8
defusedxml==0.7.1
empyrical==0.5.3
entrypoints==0.4
h5py==2.10.0
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.7.0
iso3166==0.9
jedi==0.17.2
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.0
kiwisolver==1.3.1
locket==0.2.1
Logbook==0.12.5
lru-dict==1.1.4
matplotlib==3.3.4
mistune==0.8.4
mkl-service==2.3.0
multipledispatch==0.6.0
multitasking==0.0.10
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.5
networkx==1.11
notebook==6.4.10
numexpr==2.7.0
numpy==1.19.5
olefile==0.46
pandas==0.22.0
pandas-datareader==0.8.1
pandocfilters==1.5.0
parso==0.7.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.14.1
prompt-toolkit==3.0.29
ptyprocess==0.7.0
Pygments==2.11.2
pyrsistent==0.18.0
python-interface==1.5.3
pytz==2021.3
PyYAML==5.4.1
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
scipy==1.3.2
Send2Trash==1.8.0
statsmodels==0.10.1
tables==3.6.1
terminado==0.12.1
testpath==0.6.0
trading-calendars==1.11.2
traitlets==4.3.3
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.6.0
yfinance==0.1.70
zict==2.0.0
zipline==1.4.0
